body{
    background-color: white;
    color: black;
    }
    .grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto ;
    }
    .container {
    width: 100%;
     
    }
     
    p {
        /*float: right;*/
        font-size: 20px;
        text-align: center;
    }

    ul {
    font-size: 20px;
    text-align: center;
    }

    h1 {
        text-align: center;
        background-color: #60605C;
        color: aliceblue;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 50px;
    }
