body{
    background-color: white;
    color: black;
    }
    .grid-container {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto ;
    }
    .container {
    width: 100%;
     
    }
     
    p {
        float: right;
        font-size: 20px;
    }

    ul {
    font-size: 20px;
    }
